@import "tailwindcss";

@layer base {
  :root {
    --background: #111827; /* Tailwind gray-900 */
    --foreground: #f9fafb; /* Tailwind gray-50 */
  }

  body {
    @apply bg-gray-900 text-gray-100 min-h-screen;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}